/** Step one **/


/** Step two **/
h1,h2,h3,h4,h5,h6{
    font-family: "Fascinate Inline", system-ui;
}
/** Step three **/
h1{
    font-size: 46px;
    letter-spacing: 1.75px;
    text-align: center;
    color: #1B205A;
}
/** Step four **/
a,p,li{
    font-family: "Sofadi One", system-ui;
}

/** Step five **/
span{
    color: #ACA43C;
}
/** Step six **/
h3{
    font-size: 38px;
    text-shadow: 4px 2px 4px rgba(0,0,0,.7);
}
